<main role="main" class="container">

    <h1>Monuments</h1>

    <div id="images">

        <img src="/assets/images/Akshardham_Temple.jpg" height="40%" width="40%" alt="">
        <img src="/assets/images/humayun.jpg" height="40%" width="40%" alt="">
        <img src="/assets/images/IndiaGate.jpg" height="40%" width="40%" alt="">
        <img src="/assets/images/qutub.jpg" height="40%" width="40%" alt="">

        <img src="/assets/images/red-Fort-Delhi.jpg" height="40%" width="40%" alt="">

        <img src="/assets/images/jamaMasjid.jpg" height="40%" width="40%" alt="">
        <img src="/assets/images/lotusTemple.jpg" height="40%" width="40%" alt="">
        <img src="/assets/images/tajmahal.jpg" height="40%" width="40%" alt="">





    </div>
</main>